# Sentry
# Get your DSN from https://sentry.io → Settings → Projects → Client Keys (DSN)
SENTRY_DSN=https://43fd895522db517b7abed63d11b74eb6@o4511485352673280.ingest.us.sentry.io/4511730987499520

# Vercel
NEXT_PUBLIC_VERCEL_ANALYTICS_ID=

# Formspree
# Get your ID from https://formspree.io
FORMSPREE_ID=xbjnkygq
